@media screen and (max-width: 1024px) {
  .application form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .application form button {
      width: 60%; }
  .application__input {
    width: 90%;
    height: 40px; }

  .header__help-item:nth-child(1) {
    display: none; }

  .cards {
    flex-direction: column;
    align-items: center;
    padding: 20px 0; }
    .cards__item {
      width: 80%; } }
@media screen and (max-width: 800px) {
  .footer__info {
    padding: 60px 0;
    flex-direction: column;
    text-align: center; }
    .footer__info li {
      align-items: center;
      padding: 20px 0; }

  .swiper-slide {
    width: 80%; }

  .main__top nav {
    display: none; }

  .container {
    padding: 0 66px; } }
@media screen and (max-width: 500px) {
  input::placeholder {
    text-align: center; }

  textarea::placeholder {
    text-align: center; }

  .header__help {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .header__help-item:nth-child(1) {
      display: flex;
      flex-direction: column; }
      .header__help-item:nth-child(1) img {
        display: none; }
      .header__help-item:nth-child(1) p {
        padding: 4px 0; }
    .header__help-item:nth-child(2) img {
      display: none; }
    .header__help-item:nth-child(3) {
      display: none; }
  .application {
    top: 20%;
  }
  .application form {
    width: 85%; }
    .application form .input-3 {
      height: 200px; }
  .application__input {
    height: 30px; }
  .application__close-button img {
    width: 30px; }

  .main {
    background-image: url("../img/background/main-background-mobile.png");
    background-size: contain; }

  .main__title {
    text-align: center;
    justify-content: center;
    align-items: center; }

  .main__title h2 {
    margin-top: 100px;
    font-size: 35px; }

  .cards__item {
    width: 100%; } }
@media screen and (max-width: 375px) {
  .container {
    padding: 0 15px; }

  .cards__text h3 {
    font-size: 25px; } }